{% extends 'html/layout.html' %}

{% block title %}Reset your password{% endblock %}


{% block body  %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "user:profile" %}';
</script>
{% endif %}

<html>
<head>
<link rel="stylesheet"  href="/static/css/confirm.css"> 
<script src="https://kit.fontawesome.com/6aa7418ce8.js" crossorigin="anonymous"></script> 
<style>
    html{
        font-size:62.5%;
    }
    .resend{
        height: 5rem !important;
        border-radius:20px;
    }
</style>
</head>



    <section class="confirm">
        <p class="h4 mb-2 font-weight-bold">Réinitialisez votre mot de passe</p>
        <p><i class="fa-solid fa-circle-check"></i>Si vous ne revevez pas de mail, veuillez vérifier que votre adresse mail entrée est celle utilisée pour la 
        création de votre compte.</p>

            
            <p class="small text-center pt-4">
                <a href="{% url "user:login" %}">S'enregistrer?</a>
            </p>
            <p class="small text-center">
                <a href="{% url "user:register" %}">Centre d'assistance?</a>
            </p>

            <button class="resend"> Renvoyer le mail </button>

    </section>
    
</main>
         
         <!-- Footer -->
        <footer class="footer">
            <div class='links'>
        <div class='column'>
            <div><i class="fa-regular fa-clock-rotate-left"></i><a href="">En savoir plus</a></div>
            <div><i class="fa-regular fa-exclamation"></i><a href="">Conditions de vente</a></div>
            <div><i class="fa-solid fa-question"></i><a href="">FAQ</a></div>
        </div>

    <div class='column'>
      <div><i class="fa-solid fa-paper-plane"></i><a href="">Contact</a></div>
      <div><i class="fa-sharp fa-solid fa-envelope-open-text"></i><a href="">Email: contact@walkirii.com</a></div>
      <div><i class="fa-sharp fa-solid fa-phone-volume"></i><a href="">Tel : 07 67 32 66 98</a></div>
    
    </div>
    </div>
        <div class='icons'>
             <a href=''><i class="fa-brands fa-square-twitter fa-3x"></i></a>
            <a href=''><i class="fa-brands fa-square-facebook fa-3x"></i></a>
            <a href=''><i class="fa-brands fa-square-youtube fa-3x"></i></a>
        </div>
    <!-- Right -->
  
</footer>


<!-- Footer -->
            
            
        
</body>
    
</html>




{% endblock body  %}