<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/static/css/shop.css"> 
    <title>Shop</title>
</head>
<body>
    <div id="root"></div>

    <!-- Include your React app JavaScript bundle -->
    <script src="/static/react-app/build/static/css/main.11af5cf4.css"></script>
    <script src="/static/react-app/build/static/js/main.cb398d2c.js"></script>
    {% comment %} <img src="/static/react-app/build/images/item1.jpg" alt="Item 1" />
    <img src="/static/react-app/build/images/item1.png" />
    <img src="/static/react-app/build/images/item2.jpg" />
    <img src="/static/react-app/build/images/item3.jpg"/>
    <img src="/static/react-app/build/images/item4.jpg"/> {% endcomment %}

</body>
</html>

