html{
    font-size:62.5%;
  }
  .stickyheader .stickbutton:first-child a{
    text-align:center;
    text-decoration:none;
    color:white;
  } 
  .stickyheader .stickbutton:last-child{
    border-right:none !important;  
  }
  .calendar{
    border-right: 2px solid white !important;
    border-left: 2px solid white !important;
  }
  .contacting{
    border-right: 2px solid white !important;
    border-left:  0px solid white !important;  
  }
    .shop{
      border-right: 0px solid white !important;
      border-left: 2px solid white !important;
    }
    .miniprofile {
        display: flex;
        align-items: center;
      }
      
      .miniprofile p {
        margin-left: 10px; 
      }
      
      .miniprofile_img {
        width: 50px; /* Adjust the size of the avatar image */
        height: 50px;
        border-radius: 50%; /* Make the image round */
      }
    
      #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #616161;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        text-align:center;
        margin-top:25rem;
        display: block;   
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 300px;
        height: 50%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: orange;
        opacity:75%;
        filter: saturate(50%);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #333;
      
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      .hamburger-menu{
        Z-index:10;
      }
      .valk{
        border:none !important;
      }
      li{
        margin: 2rem auto;
      }
      li a{
        height:5rem !important;
        font-size:2rem; 
      }
    